<mat-card class="example-card">
  <img
    mat-card-image
    class="mat-card-image-custom"
    [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
  />
  <mat-card-content>
    <div>
      <span class="mat-card-title"> {{ movie.title }}</span>
      <!-- <mat-icon class="mat-card-icon">favorite</mat-icon> -->
    </div>
    <div class="mat-card-genres">
      <span>
        {{ movie.genre_ids | genre }}
      </span>
    </div>
    <div>
      <app-rating
        [rating]="movie.vote_average | rating"
        [itemId]="1"
      ></app-rating>
      <a
        href="javascript:void(0)"
        class="mat-card-show-more"
        (click)="cardClick(movie.id)"
        >Show more</a
      >
    </div>
  </mat-card-content>
</mat-card>
