.example-card {
  max-width: 500px;
  flex: 0 1 calc(24%);
  display: block;
  padding: 25px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 300px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 170px;
  height: 320px;
}


.mat-card-image-custom{  
  width: 320px;
  height: 170px;
  object-fit: cover;
 }
.mat-card-show-more{
  margin-top: 17px;
  float: left;
}
.mat-card-title{
  font-size: 20px;
  text-align: left;
  display: block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  float: left;
}
.mat-card-genres{
  text-align: left;
}