.example-card {
  max-width: 400px;
  flex: 0 1 calc(24%);
  display: block;
  padding: 25px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 170px;
  height: 320px;
}

mat-card-image {
  width: 120px !important;
}
